.corpo {
  background-image: linear-gradient(
    to bottom,
    #000000 0%,
    #413f29 37.9%,
    #ecec99 38%,
    #fafa98 38.1%
  );
  min-height: calc(100vh - 72px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.padrao {
  background-color: #ffffff;
  min-height: calc(100vh - 72px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header, .footer {
  flex-shrink: 0;
}

footer {
  background-color: #202020;
  color: #ffffff;
  border-top: 0.5px solid #cacaca;
}

.botao-entrar {
  display: block; 
  margin: 0 auto; 
  border-radius: 20px;
}

.navbar-custom {
  background-color: #000000;
  color: #ffffff;
  border-bottom: 0.5px solid #202020;
}

.autostar-logo {
  max-height: 200px;
  max-width: 15%;
}

a {
  color: #000000; 
  text-decoration: none; 
}

a:hover {
  color: #0000ff; 
  text-decoration: underline; 
}

.btn-group-lg>.btn, .btn-lg {
  padding: 50px;
}

.card {
  background-color: #f1f1f1;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-bottom: 20px; /* Espaçamento vertical entre os cartões */
}

.card-body {
  display: flex;
  flex-direction: column;
  flex: 1; /* Permite que o card-body cresça para ocupar o espaço disponível */
}

.card-body .form-check {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.card-img-top {
  width: 100%; /* A largura será 100% do contêiner pai */
  height: 200px; /* Altura fixa para todas as imagens */
  object-fit: cover; /* A imagem será redimensionada para cobrir o contêiner, preservando a proporção */
  border-bottom: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Espaçamento horizontal */
}

.col-md-4 {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; /* Espaçamento vertical entre cartões */
}

.form-check-label {
  margin-left: 10px;
}

.vehicle-img {
  width: 100%;
  height: 200px; /* Ajuste a altura conforme necessário */
  object-fit: cover; /* Esta propriedade define como o conteúdo da imagem deve se ajustar às dimensões definidas */
}
